/* Base Styles */
body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    background: #000000;
    color: #a8dadc;
    line-height: 1.8;
    font-size: 1.2rem;
    padding: 0 1rem; /* Add padding to the body to prevent text from touching screen edges */
}

/* Logo Style */
.logo {
    max-width: 100%;
    height: auto;
    width: 1000px;
    margin: 1rem auto;
    display: block;
}

/* Navigation Styles */
.nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav a {
    font-size: 1.5rem;
    color: #a8dadc;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.nav a.active {
    text-decoration: underline;
    color: #ffffff; /* You can change this color for better emphasis */
}

.nav a:hover {
    color: #ffffff;
    text-decoration: underline; /* Keep underline on hover for non-active tabs */
}


/* Page Sections */
.about, .cloaked-protocol, .characters, .gallery, .contact {
    padding: 4rem 2rem;
    background: #000000;
    color: #a8dadc;
}

h2 {
    font-size: 3rem;
    color: #a8dadc;
    text-shadow: 0 0 5px rgba(168, 218, 220, 0.8);
    margin-bottom: 1rem;
    border-bottom: 2px solid #457b9d;
    padding-bottom: 0.5rem;
    text-align: center; /* Center-align all section headers */
}

p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center; /* Center-align paragraphs for consistency */
}

.character-card img {
    width: 280px; /* Fixed width */
    height: 350px; /* Fixed height */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

.character-info {
    padding: 1rem;
    background: #000000;
    color: #a8dadc;
    height: 180px;
    font-size: 1.2rem;
    border-radius: 0 0 8px 8px;
}

/* Footer */
.footer {
    background: #1d1d1d;
    text-align: center;
    padding: 1rem 0;
    color: #a8dadc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
    }
    .character-grid {
        grid-template-columns: 1fr;
    }
    body {
        padding: 0 1rem; /* Ensure padding remains on smaller screens */
    }
}